[Unit]
Description=Prysm Eth2 Client Beacon Node
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
User=prysmbeacon
Group=prysmbeacon
ExecStart=/usr/local/bin/beacon-chain --pyrmont --datadir=/var/lib/prysm/beacon --http-web3provider=https://goerli.prylabs.net --accept-terms-of-use --enable-db-backup-webhook --db-backup-output-dir /var/lib/prysm/beacon/beaconchaindata
[Install]
WantedBy=multi-user.target
