[Unit]
Description=Prysm Eth2 Validator Client
Wants=network-online.target
After=network-online.target
BindsTo=prysmbeacon.service
[Service]
Type=simple
User=prysmvalidator
Group=prysmvalidator
ExecStart=/usr/local/bin/validator --datadir /var/lib/prysm/validator --wallet-dir /var/lib/prysm/validator --wallet-password-file /var/lib/prysm/validator/wallet_password.txt --accept-terms-of-use
[Install]
WantedBy=multi-user.target
